/* les variables */

/* end les variables */

*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}