/* les variables */
:root{
  --main-color : #09497f;
  --secound-color : #6bcac5;
  --white-color : #fff;
}
/* end les variables */
/* Start global rules */
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background: #fe3;
}
/* small */
@media (min-width: 768px){
  .container{
    width: 750px;
  }
}
/* medium */
@media(min-width: 992px){
  .container{
    width: 970px;
  }
}
/* large */
@media(min-width: 1200px){
  .container{
    width: 1170px;
  }
}
/* end global rules */
/* start header */
.header{
  padding: 20px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  width: 40px;
}
.header .links{
  position: relative;
}
.header .links .icon{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}
.header .links .icon span{
  background-color: green;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon:hover span:nth-child(2){
  width: 100%;
}
.header .links .icon span:first-child{
  width: 100%;
}
.header .links .icon span:nth-child(2){
  width: 80%;
  transition: 0.3s;
}
.header .links .icon span:last-child{
  width: 100%;
}
.header .links ul{
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--secound-color);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 10px);
  display: none;
  z-index: 1;
}
.header .links ul::before{
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #6bcac5 transparent;
  position: absolute;
  right: 5px;
  top: -22px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #053973;
  transition: 0.3s;
}
.header .links ul li a:hover{
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
  border-bottom: 1px solid #fff;
}
.landing{
  background-image: url(../images/pexels-pixabay-417173.jpg);
  background-size: cover;
  height: calc(100vh - 80px);
  position: relative;
}
.landing .intro-text h1{
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p{
  margin: 0;
  font-size: 18px;
  line-height: 1.8;
}
.landing .intro-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}

/* end header */